@media screen and (max-width:576px) {
    nav .menu {
        display: none;
    }

    .about-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 20px;
        padding-right: 20px;
        gap: 40px;
    }

    .choose-heading {
        font-size: 1.5rem;
        padding-top: 40px;
        padding-bottom: 20px;

    }

    .choose-grid {
        display: grid;
        grid-template-areas:
            "audio"
            "mobile"
            "global"
            "interview"
            "resource"
    }

    .choose {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .featured-episode {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .episodes {
        padding-left: 20px;
        padding-right: 20px;
    }

    .epi-vido {
        padding-bottom: 20px;
    }

    .episodes {
        padding: 20px;
    }

    .epi-box {
        display: flex;
        flex-direction: column;
    }

    .footer-container {
        padding: 40px;
    }

    .footer-container .logo {
        font-size: 40px;
    }

    .footer-container .gradient-text {
        font-size: 40px;
    }

    .hero-heading h1 {
        font-size: 2rem;
        font-weight: 800;
        color: white;
    }

    .hero-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-content p {
        font-size: 0.8rem;
        text-align: center;
    }

}