.font-inter {
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* shared style */
.btn {
    color: white;
    width: 135px;
    height: 44px;
    border-radius: 10000px;
    background: linear-gradient(106deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    border: 0px solid none;

}

.btn:hover {
    transition: 0.5s;
    color: #1A0B2E;
}

.normal-btn {
    color: #00FF88;
    width: 147px;
    height: 44px;
    border-radius: 10000px;
    border: 1px solid #00FF88;
    padding: 12px 20px 12px 20px;
    text-align: center;
}

.btn:hover {
    transition: 0.5s;
    color: #1A0B2E;
}

.normal-btn:hover {
    background-color: #00FF88;
    color: #1A0B2E;
    transition: 0.5s;
}

.gradient-text {
    background: linear-gradient(106deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
}

/* navbar */
nav {
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.menu {
    color: white;
    list-style: none;
    display: flex;
    gap: 32px;
}

.logo {
    font-weight: 700;
    color: white;
    font-size: 2rem;
}

/* hero-section */
.hero-section {
    overflow: hidden;
    min-height: 100vh;
}

.image {
    position: relative;
    display: inline-block;

}

.new {
    position: absolute;
    font-size: 1.2rem;
    font-weight: 600;
    border: 0px solid;
    background-color: #00FF88;
    width: 75px;
    height: 38px;
    border-radius: 1000px;
    text-align: center;
    padding: 5px;
    top: 150px;
    left: 750px;

}

.circle {
    display: block;
    margin: 0 auto;
    margin-top: -625px;
}

.microphone {

    display: block;
    margin: 0 auto;
    /* margin-bottom: 400px; */
    margin-top: -300px;
}

.hero-heading h1 {
    font-size: 3.8rem;
    font-weight: 800;
    color: white;
}

.hero-heading p {
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

.hero-btn .btn {
    height: 44px;
    width: 200px;
}

.hero-btn {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 24px;
}


.hero-down {
    position: relative;
    display: inline;
    top: 140px;
}

.hero-content {
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* main section */

#about {
    background-color: #1A0B2E;
    padding-bottom: 120px;
}

.about-content {
    text-align: center;
    padding-bottom: 80px;
}

.about-content h1 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.about-content h4 {
    font-size: 1rem;
    font-weight: 200;
    color: white;
}

.about-content p {
    font-size: 1rem;
    font-weight: 200;
    color: white;
    margin-top: 24px;
}

.card-box h1 {
    font-size: 3rem;
    color: #00FF88;
    font-weight: 700;
}

.card-box p {
    font-size: 1rem;
    color: white;
}

.about-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 200px;
    padding-right: 200px;
    gap: 80px;
}

/* footer */
.footer-content .logo ,.gradient-text{
    font-size: 60px;
}
.footer-img{
    position: relative;
    display: inline-block;

}
.footer-content{
    position: absolute;
    text-align: center;
    margin: 0 auto;
    margin-top: -300px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 16px;
}
.icon-part{
    display: flex;
    font-size: 1rem; 
    justify-content: center;
    gap: 40px;
    color: white;
}

.last{
    padding: 16px;
    font-size: 0.8rem;
    color: white;
}