.font-inter {
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* shared style */
.hero-btn {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    color: white;
    width: 135px;
    height: 44px;
    border-radius: 10000px;
    background: linear-gradient(106deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    border: 0px solid none;
    font-size: 0.8rem;

}

.btn:hover {
    transition: 0.5s;
    color: #1A0B2E;
}

.normal-btn {
    position: absolute;
    left: 65%;
    z-index: 4;
    color: black;
    background-color: #00FF88;
    border: black 3px;
    width: 75px;
    height: 38px;
    border-radius: 10000px;
    padding: 12px 20px 12px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 800;
}

.Subscribe {
    width: 147px;
    height: 44px;
    border-radius: 10000px;
    border: 2px solid #00FF88;
    color: #00FF88;
    padding: 12px 20px 12px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 800;
}

.gradient-text {
    background: linear-gradient(106deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
}

/* navbar */
nav {
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.menu {
    color: white;
    list-style: none;
    display: flex;
    gap: 32px;
}

.logo {
    font-weight: 700;
    color: white;
    font-size: 2rem;
}

/* hero-section */
.hero-section {
    background-image: url('assets/hero-bg.png');
}

.img-section {
    display: flex;
    align-items: center;
    justify-content: center;

}

.img {
    position: relative;
    width: 260px;
    height: 260px;
}

.circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.microphone {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.hero-heading h1 {
    font-size: 3.8rem;
    font-weight: 800;
    color: white;
    text-align: center;
}

.hero-heading p {
    font-size: 1rem;
    font-weight: 400;
    color: white;
    text-align: center;
}

/* main section */

#about {
    background-color: #1A0B2E;
    padding-bottom: 120px;
}

.about-content {
    text-align: center;
    padding-bottom: 80px;
}

.about-content h1 {
    padding: 50px;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.about-content h4 {
    font-size: 1rem;
    font-weight: 200;
    color: white;
}

.about-content p {
    font-size: 1rem;
    font-weight: 200;
    color: white;
    margin-top: 24px;
}

.card-box h1 {
    font-size: 3rem;
    color: #00FF88;
    font-weight: 700;
}

.card-box p {
    font-size: 1rem;
    color: white;
}

.about-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 200px;
    padding-right: 200px;
    gap: 80px;
}

/* choose-grid */
.choose {
    background-color: #230E3D;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 120px;
}

.choose-heading {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 40px;

}

.choose-grid>* {
    border: 0px solid white;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;


}

.audio img,
.mobile img {
    padding-bottom: 16px;
}

.audio h1,
.mobile h1,
.gobal h1,
.interview h1,
.resource h1 {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    padding-bottom: 16px;
}

.audio p,
.mobile p,
.gobal p,
.interview p,
.resource p {
    font-size: 1rem;
    font-weight: 100;
    color: white;
    padding-bottom: 16px;
}

.audio {
    grid-area: audio;
    padding-top: 120px;
    padding-left: 20px;
    padding-bottom: 100px;
}

.mobile {
    grid-area: mobile;
    padding: 40px;
    align-items: center;
    justify-content: center;

}

.gobal {
    grid-area: global;
    padding: 40px;
}

.interview {
    grid-area: interview;
    padding: 40px;
}

.resource {
    grid-area: resource;
    padding: 40px;
}

.choose-grid {
    display: grid;
    gap: 30px;
    grid-template-areas:
        "audio mobile mobile"
        "audio global global"
        "interview interview resource"
}

/* episode */
.episodes {
    background-color: #1A0B2E;
    padding: 120px;
}

.featured-episode {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.epi-vido {
    flex: 1;
    min-width: 300px;
    padding-bottom: 120px;

}

.epi-vido iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
    border-radius: 10px;
}

.content-heading {
    font-size: 3.6rem;
    color: white;
    font-weight: bold;
    align-items: center;
    padding-bottom: 40px;
}

.epi-box {
    display: flex;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 20px;
    padding: 40px;
    gap: 16px;
}

.box-text,
.vdo-text p {

    font-size: 1rem;
    color: white;
    font-weight: 100;
    max-width: 1200px;


}

.content-heading {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-bottom: 40px;

}

.check {
    display: flex;
    align-items: center;
    gap: 5px;
}

.check-time {
    color: #00FF88;
}

.vdo-text h1 {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.vdo-text {
    background-color: rgba(37, 13, 68, 1);
    border-radius: 10px;
    padding: 10px;
}

.box-icon {
    display: flex;
    gap: 10px;
    padding: 16px;
}

/* footer */
.footer-img {
    background-image: url('assets/footer-bg.png');
}
.footer-container{
    padding: 60px;
    text-align: center;
}

.footer-img .logo {
    font-size: 60px;
    align-items: center;
    justify-content: center;
}

.footer-img .gradient-text {
    font-size: 60px;
}

.icon-part {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1rem;
    /* gap: 40px; */
    color: white;
}

.last {
    padding: 16px;
    font-size: 0.8rem;
    color: white;
    text-align: center;
}