.font-inter {
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* shared style */
.btn {
    color: white;
    width: 135px;
    height: 44px;
    border-radius: 10000px;
    background: linear-gradient(106deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    border: 0px solid none;

}

.btn:hover {
    transition: 0.5s;
    color: #1A0B2E;
}

.normal-btn {
    color: #00FF88;
    width: 147px;
    height: 44px;
    border-radius: 10000px;
    border: 1px solid #00FF88;
    padding: 12px 20px 12px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 4px;
}

.btn:hover {
    transition: 0.5s;
    color: #1A0B2E;
}

.normal-btn:hover {
    background-color: #00FF88;
    color: #1A0B2E;
    transition: 0.5s;
}

.gradient-text {
    background: linear-gradient(106deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
}

/* navbar */
nav {
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.menu {
    color: white;
    list-style: none;
    display: flex;
    gap: 32px;
}

.logo {
    font-weight: 700;
    color: white;
    font-size: 2rem;
}

/* hero-section */
.hero-section {
    overflow: hidden;
    min-height: 100vh;
}

.image {
    position: relative;
    display: inline-block;

}

.new {
    position: absolute;
    font-size: 1.2rem;
    font-weight: 600;
    border: 0px solid;
    background-color: #00FF88;
    width: 75px;
    height: 38px;
    border-radius: 1000px;
    text-align: center;
    padding: 5px;
    top: 130px;
    left: 750px;

}

.circle {
    display: block;
    margin: 0 auto;
    margin-top: -625px;
}

.microphone {

    display: block;
    margin: 0 auto;
    /* margin-bottom: 400px; */
    margin-top: -300px;
}

.hero-heading h1 {
    font-size: 3.8rem;
    font-weight: 800;
    color: white;
}

.hero-heading p {
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

.hero-btn .btn {
    height: 44px;
    width: 200px;
}

.hero-btn {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 24px;
}


.hero-down {
    position: relative;
    display: inline;
    top: 140px;
}

.hero-content {
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* main section */

#about {
    background-color: #1A0B2E;
    padding-bottom: 120px;
}

.about-content {
    text-align: center;
    padding-bottom: 80px;
}

.about-content h1 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.about-content h4 {
    font-size: 1rem;
    font-weight: 200;
    color: white;
}

.about-content p {
    font-size: 1rem;
    font-weight: 200;
    color: white;
    margin-top: 24px;
}

.card-box h1 {
    font-size: 3rem;
    color: #00FF88;
    font-weight: 700;
}

.card-box p {
    font-size: 1rem;
    color: white;
}

.about-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 200px;
    padding-right: 200px;
    gap: 80px;
}

/* choose-grid */
.choose {
    background-color: #230E3D;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 120px;
}

.choose-heading {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 40px;

}

.choose-grid>* {
    border: 0px solid white;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;


}

.audio img,
.mobile img {
    padding-bottom: 16px;
}

.audio h1,
.mobile h1,
.gobal h1,
.interview h1,
.resource h1 {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    padding-bottom: 16px;
}

.audio p,
.mobile p,
.gobal p,
.interview p,
.resource p {
    font-size: 1rem;
    font-weight: 100;
    color: white;
    padding-bottom: 16px;
}

.audio {
    grid-area: audio;
    padding-top: 120px;
    padding-left: 20px;
    padding-bottom: 100px;
}

.mobile {
    grid-area: mobile;
    padding: 40px;
    align-items: center;
    justify-content: center;

}

.gobal {
    grid-area: global;
    padding: 40px;
}

.interview {
    grid-area: interview;
    padding: 40px;
}

.resource {
    grid-area: resource;
    padding: 40px;
}

.choose-grid {
    display: grid;
    gap: 30px;
    grid-template-areas:
        "audio mobile mobile"
        "audio global global"
        "interview interview resource"
}

/* episode */
.episodes {
    background-color: #1A0B2E;
    padding: 120px;
}

.featured-episode {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.epi-vido {
    flex: 1;
    min-width: 300px;
    padding-bottom: 120px;

}

.epi-vido iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
    border-radius: 10px;
}

.content-heading {
    font-size: 3.6rem;
    color: white;
    font-weight: bold;
    align-items: center;
    padding-bottom: 40px;
}

.epi-box {
    display: flex;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 20px;
    padding: 40px;
    gap: 16px;
}

.box-text,
.vdo-text p {

    font-size: 1rem;
    color: white;
    font-weight: 100;
    max-width: 1200px;


}

.content-heading {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-bottom: 40px;

}

.check {
    display: flex;
    align-items: center;
    gap: 5px;
}

.check-time {
    color: #00FF88;
}

.vdo-text h1 {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.vdo-text {
    background-color: rgba(37, 13, 68, 1);
    border-radius: 10px;
    padding: 10px;
}

.box-icon {
    display: flex;
    gap: 10px;
    padding: 16px;
}

/* footer */
.footer-content .logo {
    font-size: 60px;
}

.footer-content .gradient-text {
    font-size: 60px;
}

.footer-img {
    position: relative;
    display: inline-block;

}

.footer-content {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    margin-top: -300px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 16px;
}

.icon-part {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1rem;
    justify-content: center;
    gap: 40px;
    color: white;
}

.last {
    padding: 16px;
    font-size: 0.8rem;
    color: white;
}




@media screen and (max-width:576px) {
    nav .menu {
        display: none;
    }

    .about-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 20px;
        padding-right: 20px;
        gap: 40px;
    }

    .choose-heading {
        font-size: 1.5rem;
        padding-top: 40px;
        padding-bottom: 20px;

    }

    .choose-grid {
        display: grid;
        grid-template-areas:
            "audio"
            "mobile"
            "global"
            "interview"
            "resource"
    }

    .choose {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .featured-episode {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .episodes {
        padding-left: 20px;
        padding-right: 20px;
    }

    .epi-vido {
        padding-bottom: 20px;
    }

    .episodes {
        padding: 20px;
    }

    .epi-box {
        display: flex;
        flex-direction: column;
    }

    footer {
        position: relative;
        background-image: url(assets/footer-bg.png);
        padding: 60px 20px;
        max-width: 420px;

    }

    .footer-img {
        position: relative;
        background-size: cover;

    }

    .footer-content {
        max-height: 250px;
        font-size: 60px;
        position: absolute;
        margin-left: 10%;
        margin-top: -20%;


    }

    .footer-content .logo {
        font-size: 40px;
    }

    .footer-content .gradient-text {
        font-size: 40px;
    }

    .footer-img {
        position: relative;
        display: inline-block;

    }

    .hero-heading h1 {
        font-size: 2rem;
        font-weight: 800;
        color: white;
    }



    .hero-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image {
        display: none;
    }

    .hero-content p {
        font-size: 0.8rem;
        text-align: center;
    }

    /* .hero-content {
    display: flex;
    gap: 10px; 
   
} */
    .hero-section {
        background-image: url(assets/Image.png);
        background-image: cover;
        margin-bottom: -70%;
        position: relative;
    }

    /* .bg-img {
        position: relative;
    } */

    .circle {
        background-image: url(assets/ci);

    }

    .new {
        position: absolute;
        font-size: 1.2rem;
        padding: 5px;
        top: 130px;
        left: 750px;

    }

    .microphone {

        position: absolute;
        margin: 0 auto;
        margin-bottom: 400px;
        top: 30%;
        left: 46%;

    }
 
}
